h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}


h4 {
    font-family: verdana;
    font-size: 10px;
}


div.content ul ul {
    display: none;      
}

div.content ul:hover > ul {
    display:inherit;
}


ul {
    list-style: none;
}

